<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
    <!-- Footer -->
    <section id="footer">
        <div class="container">
            <div class="row text-center text-xs-center text-sm-left text-md-left">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Quick links</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a th:href="@{/}"><i class="fa fa-angle-double-right"></i>Home</a></li>
                        <li><a th:href="@{/about}"><i class="fa fa-angle-double-right"></i>About</a></li>
                        <li><a th:href="@{/contact}"><i class="fa fa-angle-double-right"></i>Contact</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                        <li><a th:href="@{/blog}"><i class="fa fa-angle-double-right"></i>Blog</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Information</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href="#"><i class="fa fa-angle-double-right"></i>General Enquiries</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i>Booking Conditions</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i>Privacy and Policy</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i>Refund Policy</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i>Call Us</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Experience</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a th:href="@{/adventures}"><i class="fa fa-angle-double-right"></i>Adventures</a></li>
                        <li><a th:href="@{/adventures}"><i class="fa fa-angle-double-right"></i>Evasion</a></li>
                        <li><a th:href="@{/adventures}"><i class="fa fa-angle-double-right"></i>Cultural</a></li>
                        <li><a th:href="@{/adventures}"><i class="fa fa-angle-double-right"></i>Sport</a></li>
                        <li><a th:href="@{/adventures}"><i class="fa fa-angle-double-right"></i>Cruise</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                    <ul class="list-unstyled list-inline social text-center">
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
                </hr>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                    <p><u><a href="#">Adventure Wild Corporation</a></u> is a Registered Paris, Inc.</p>
                    <p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="#">Adventure Wild, 2019</a></p>
                </div>
                </hr>
            </div>
        </div>
    </section>
    <!-- ./Footer -->
</div>