<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<header lang="en" th:replace="fragments/header :: header"></header>

<body id="page-top">

<!-- Navigation -->
<nav lang="en" th:replace="fragments/nav :: nav"></nav>



<!-- About Section -->
<section id="about" class="about-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">Your dream is near</h2>
                <p class="text-white-50">Run through forest, desert, mountains</p>
            </div>
        </div>
        <img src="img/ipad.png" class="img-fluid" alt="">
    </div>
</section>
</body>
<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
<!--div lang="en" th:replace="fragments/footer :: footer"></div-->
</html>